/*---------------------------------Medium---------------------------------------------------*/

@media only screen and (min-width: 600px) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    * {
        box-sizing: border-box;
    }

    body {
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #EAEAEA;
    }

    .header-top{
        padding-top: 10PX;
        padding-bottom: 10PX;
        display: flex;
        background: #FFB13D;
        -webkit-font-smoothing: subpixel-antialiased;
        justify-content: center;
    }

    nav button{ display: none;}


    nav a:hover {color: #EAEAEA;}

    nav ul li.active a{
        color: #fff;
    }

    .hide li a{
        display: flex;

    }

    #navigation {
        display: inline-flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-left: -40px;

    }

    #navigation .logo {
        top: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: -webkit-match-parent;
    }

    a {
        text-decoration: none;
        font-family: 'Open Sans';
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        letter-spacing: .2em;
        text-transform: uppercase;
        line-height: 1em;
        color: #6A0BFF;
        margin: 8px;

    }

    img{
        width: 150px;
        height: auto;
        opacity: 1;
    }

    .section1{
        margin: 3px;
        border-left: 2px solid red;
        border-right: 2px solid red;
        background-color: #fff;
    }

    .section1 h3{
        font-family: 'Open Sans';
        color: #E84740;
        margin-top: 1px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .section1 p{
        font-size: 14px;
        margin-top: -15px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .button{
        background-color: rgba(255, 99, 71, 0.8);
        border: none;
        border-radius: 5px;
        color: white;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 5px 1px;
        cursor: pointer;
    }

    .button:hover{
        background-color: rgba(255, 99, 71, 2.8);
    }

    .button:visited {
        background-color: rgba(255, 99, 71, 0.5);
    }

    .section2{
        margin: 3px;
        margin-top: -12px;
    }

    .section2 img{
        width: 100%;
        height: auto;
    }

    .section3 {
        display: block;
        float: right;
        margin: 3px;
        border: 1px solid #ccc;
        width: 49%;
    }

    .section3 img{
        width: 100%;
        height: auto;

    }

    section .desc h4{
        text-align: center;
        margin: 8px;
    }

    section .desc p{
        margin: 5px 1px;
        font-size: 12px;
        text-indent: 20px;
        text-align: justify;
        letter-spacing: 1px;
        padding: 8px;
    }

    .section4 {
        display: block;
        float: left;
        margin: 3px;
        border: 1px solid #ccc;
        width: 49%;
    }

    .section4 img{
        width: 100%;
        height: auto;

    }

    .section5 {
        display: block;
        margin: 3px;
        border: 1px solid #ccc;
    }

    .section5 img{
        width: 100%;
        height: auto;

    }

    footer{
        padding-top: 8px;
        width: 100%;
        box-sizing: border-box;
    }

    footer aside{
        display: flex;
        justify-content: center;
        padding: 2px;
        height: auto;
        margin: 5px 0 0;
        text-align: center;
        background-color: #E84740;

    }

    footer > p{
        position: absolute;
        width: 100%;
        margin: 0;
        text-align: center;
        background-color: #6A0BFF;
        margin-bottom: 0;
        font-size: 12px;
        color: #fff;
    }



}

