main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    display: table;
    width: 30%;
    font-family: 'Lato', sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

#title {
    color: black;
    height: 50px;
    font-size: 20px;
    background-color: #7fb9c2;
}

thead th {
    background-color: #628ca6;
    font-weight: bold;
    color: white;
}

thead th:nth-child(1) {
    width: 2%;
}

thead th:nth-child(2) {
    width: 1%;
}

thead th:nth-child(3) {
    width: 2%;
}

table tr:nth-child(even) {
    background-color: #e7ffed;
}

table tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr td:nth-child(3n+) {
    background-color: #628ca6;
}

td,
th {
    padding: 8px;
    letter-spacing: 1px;
    border: 1px solid grey;
}

#highlighted {
    color: white;
    font-weight: bold;
    background-color: #628ca6;
}

#italic {
    font-style: italic;
}

tbody td {
    text-align: center;
}

tfoot td {
    text-align: center;
    font-weight: bold;
    background-color: #7fb9c2;
}
